.display {
  grid-column: span 4; /*quantidade de linhas que vou ocupar*/
  background-color: #b3b3b3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-size: 2.2em;
  overflow: hidden;
  color: black;
  border-color: black;
}
