@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono-Thin.ttf");
}

* {
  font-family: "RobotoMono", monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  background: linear-gradient(to right, #4ca1af, #c4e0e5);
}
.divIcons {
  margin: 10px;
}
.icon {
  padding: 10px;
  width: auto;
  height: 50px;
}
